<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Categorias Consulta</h1>
</div>

<div class="row">
  <div class="col offset-md-6">
    <a class="btn btn-outline-success" [routerLink]="['../registrar', 0]">Nuevo</a>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cat of categorias">
          <td>{{cat.nombre}}</td>
          <td>{{cat.habilitada ? 'ACTIVO': 'DESACTIVO'}}</td>
          <td>
            <a title="Editar" class="btn btn-sm btn-outline-primary"  [routerLink]="['../registrar',cat.id]"><i class="bi bi-pencil"></i></a>
            <a title="Eliminar" class="btn btn-sm btn-outline-danger" (click)="delete(cat)"><i class="bi bi-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
