<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Categorias Registrar</h1>
</div>
<div class="row" [formGroup]="form">
  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input id="nombre" class="form-control" [formControl]="formModel.nombre">
        <p class="text-danger" *ngIf="formModel.nombre.touched && formModel.nombre.errors?.required">
          El nombre es requerido!
        </p>
        <p class="text-danger" *ngIf="formModel.nombre.touched && formModel.nombre.errors?.minlength">
          El valor minimo es de 10!
        </p>
      </div>
    </div>

    <div class="col-6">
      <div class="mb-3">
        <label class="form-label">Es Tarjeta de Credito <input id="esTarjetaCredito" type="checkbox" [formControl]="formModel.esTarjetaCredito"></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6" *ngIf="formModel.esTarjetaCredito.value">
      <div class="mb-3">
        <label class="form-label">Dia del Cierre</label>
        <input id="diaCierre" type="number" min="1" max="28" class="form-control" [formControl]="formModel.diaCierre">
        <p class="text-danger" *ngIf="formModel.diaCierre.touched && formModel.diaCierre.errors?.required">
          El Dia del Cierre es requerido!
        </p>

        <p class="text-danger" *ngIf="formModel.diaCierre.touched && (formModel.diaCierre.errors?.min || formModel.diaCierre.errors?.max)">
          El Dia del Cierre debe ser entre 1 y 28!
        </p>

      </div>
    </div>


    <div class="col-6" *ngIf="formModel.esTarjetaCredito.value">
      <div class="mb-3">
        <label class="form-label">Dia del vencimiento</label>
        <input id="diaVencimiento" type="number" min="1" max="28" class="form-control" [formControl]="formModel.diaVencimiento">
        <p class="text-danger" *ngIf="formModel.diaVencimiento.touched && formModel.diaVencimiento.errors?.required">
          El Dia del vencimiento es requerido!
        </p>
        <p class="text-danger" *ngIf="formModel.diaVencimiento.touched && (formModel.diaVencimiento.errors?.min || formModel.diaVencimiento.errors?.max)">
          El Dia del vencimiento debe ser entre 1 y 28!
        </p>
      </div>
    </div>
  </div>
  <div class="row">
     <div class="col-6">
      <div class="mb-3">
        <button class="btn btn-outline-success mx-1" (click)="save();">Guardar</button>
        <a class="btn btn-outline-warning" [routerLink]="['./consultar']" routerLinkActive="router-link-active">volver </a>
      </div>
    </div>
  </div>
</div>
