<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Cuentas Consulta</h1>
</div>

<div class="row">
  <div class="col offset-md-6">
    <a class="btn btn-outline-success" [routerLink]="['../registrar', 0]">Nuevo</a>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Es Credito</th>
          <th>Dia Cierre</th>
          <th>Dia Vencimiento</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let cue of cuentas">
          <td>{{cue.nombre}}</td>
          <td>{{cue.esTarjetaCredito ? 'Si': 'No' }}</td>
          <td>{{cue.diaCierre}}</td>
          <td>{{cue.diaVencimiento}}</td>
          <td>{{cue.habilitada ? 'ACTIVO': 'DESACTIVO'}}</td>
          <td>
            <a title="Editar" class="btn btn-sm btn-outline-primary"  [routerLink]="['../registrar',cue.id]"><i class="bi bi-pencil"></i></a>
            <a title="Eliminar" class="btn btn-sm btn-outline-danger" (click)="delete(cue)"><i class="bi bi-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
