<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">FInanzas APP</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link"  aria-current="page" routerLink="/dashboard">
              <i class="bi-house" style="font-size: 20px;"></i>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cuentas">
              <i class="bi-bank" style="font-size: 20px;"></i>
              Cuentas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categorias">
              <i class="bi-bookmark" style="font-size: 20px;"></i>
              Categorias
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/movimientos">
              <i class="bi-cart" style="font-size: 20px;"></i>
              Movimientos
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
