<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Movimiento Registrar</h1>
</div>
<div class="row" [formGroup]="form">
  <div class="col-6">
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input class="form-control" [formControl]="formModel.descripcion">

      <p class="text-danger" *ngIf="formModel.descripcion.touched && formModel.descripcion.errors?.required">
        El nombre es requerido!
      </p>
    </div>
  </div>

  <div class="col-6">
    <div class="mb-3">
      <label class="form-label">Monto</label>
      <input id="monto" class="form-control" type="number" [formControl]="formModel.monto">

      <p class="text-danger" *ngIf="formModel.monto.touched && formModel.monto.errors?.required">
        El Monto es requerido!
      </p>
    </div>
  </div>


  <div class="col-6">
    <div class="mb-3">
      <label class="form-label">Fecha</label>
      <input id="fechaCarga" class="form-control" type="date" [formControl]="formModel.fechaCarga">
      <p class="text-danger" *ngIf="formModel.fechaCarga.touched && formModel.fechaCarga.errors?.required">
        La fecha es requerido!
      </p>
    </div>
  </div>

  <div class="col-6">
    <div class="mb-3">
      <label class="form-label">Tipo de Movimiento</label>
      <select id="idTipoMovimiento" class="form-control" [formControl]="formModel.idTipoMovimiento">
        <option *ngFor="let tipo of tiposMovimientos" [value]="tipo.id">{{tipo.nombre}}</option>
      </select>
      <p class="text-danger" *ngIf="formModel.idTipoMovimiento.touched && formModel.idTipoMovimiento.invalid">
        Debe seleccionar un tipo!
      </p>
    </div>
  </div>

  <div class="col-6">
    <div class="mb-3">
      <label class="form-label">Categoria</label>
      <select id="idCategoria" class="form-control" [formControl]="formModel.idCategoria">
        <option *ngFor="let categoria of categorias | filterByTipoMovimiento:formModel.idTipoMovimiento.value" [value]="categoria.id">{{categoria.nombre}}</option>
      </select>
      <p class="text-danger" *ngIf="formModel.idCategoria.touched && formModel.idCategoria.invalid">
        Debe seleccionar una Categoria!
      </p>
    </div>
  </div>

  <div class="col-6">
    <div class="mb-3">
      <label class="form-label">Cuenta</label>
      <select id="idCuenta" class="form-control" [formControl]="formModel.idCuenta">
        <option *ngFor="let cuenta of cuentas" [value]="cuenta.id">{{cuenta.nombre}}</option>
      </select>
      <p class="text-danger" *ngIf="formModel.idCuenta.touched && formModel.idCuenta.invalid">
        Debe seleccionar una  Cuenta!
      </p>
    </div>
  </div>

  <div class="col-6" *ngIf="habilitarCuotas">
    <div class="mb-3">
      <label class="form-label">Cuotas</label>
      <input class="form-control" type="number" [formControl]="formModel.catidadCuotas">
    </div>
  </div>
  <div class="col-6">
    <div class="mb-3">
      <button class="btn btn-outline-success mx-1" (click)="save();">Guardar</button>
      <a class="btn btn-outline-warning" [routerLink]="['./consultar']" routerLinkActive="router-link-active"  >volver </a>
    </div>
  </div>
</div>
