<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Categorias Registrar</h1>
</div>
<div class="row" [formGroup]="form">
  <div class="col-6">
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input id="nombre" class="form-control" [formControl]="formModel.nombre">

      <p id="lblErrorNombreRequerido" class="text-danger" *ngIf="formModel.nombre.touched && formModel.nombre.errors?.required">
        El nombre es requerido!
      </p>

      <p id="lblErrorNombreLongitud"  class="text-danger" *ngIf="formModel.nombre.touched && formModel.nombre.errors?.minlength">
        El valor minimo es de 10!
      </p>

    </div>
  </div>
  <div class="col-6">
    <div class="mb-3">
      <label class="form-label">Tipo de Movimiento</label>
      <select id="idTipoMovimiento" class="form-control" [formControl]="formModel.idTipoMovimiento">
        <option *ngFor="let tipo of tiposMovimientos" [value]="tipo.id">{{tipo.nombre}}</option>
      </select>
      <p id="lblErroridTipoMovimientoRequired" class="text-danger" *ngIf="formModel.idTipoMovimiento.touched && formModel.idTipoMovimiento.invalid">
        Debe seleccionar un tipo!
      </p>
    </div>
  </div>
  <div class="col-6">
    <div class="mb-3">
      <button class="btn btn-outline-success mx-1" (click)="save();">Guardar</button>
      <a class="btn btn-outline-warning" [routerLink]="['./consultar']" routerLinkActive="router-link-active"  >volver </a>
    </div>
  </div>
</div>
